html,body {
	height: 100%;
	width:100%;
	background-color: black;
	margin-left: 13px;
}

div {
	float: left;
	width: 23%;
	height:100%;
	padding: 1%;
}

h1 {
	text-align: right;
	font-size: 13px;
	font-family: 'Armata', sans-serif;
	padding-right: 13px;
	color: white;
}

.picture {
	display: block;
	width: 80%;
	height: 33%;
	padding-bottom: 2px;
}

.picture:visited {
	background-color: black;
}

#lowrow {
	padding-top: 8%;
}

.story1 {
	box-shadow: 0px 0px 40px 20px #f2e1ad;
	/*background-image: url('images/michaelscott.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;*/
}

.story2 {
	box-shadow: 0px 0px 40px 20px #f4826a;
}

.story3 {
	box-shadow: 0px 0px 40px 20px #f2594b;
}

.story4 {
	box-shadow: 0px 0px 40px 20px #1d7277;
}

.story5 {
	box-shadow: 0px 0px 40px 20px #45771D;
}

.story6 {
	box-shadow: 0px 0px 40px 20px #E3B1B6;
}

.story7 {
	box-shadow: 0px 0px 40px 20px #c3644e;
}

.story8 {
	box-shadow: 0px 0px 40px 20px #8f3840;
}

.story9 {
	box-shadow: 0px 0px 40px 20px #b2ad87;
}

.story10 {
	box-shadow: 0px 0px 40px 20px #628078;
}
