html {
	background-color: #bc9876;
}

img {
	display: inline-block;
	width: 65%;
}

.hand1 {
	position:fixed;
	bottom:0px;
	padding-left: 1em;
	width: 40%;
}

.hand2 {
	position:fixed;
	bottom:0px;
	padding-left: 28em;
	width: 40%;

}

.hand3 {
	position:fixed;
	bottom:0px;
	padding-left: 56em;
	width: 40%;
}