@import url('https://fonts.googleapis.com/css?family=Catamaran:200|Signika|Abril+Fatface|Cabin+Sketch|Contrail+One|Flamenco|Forum|IBM+Plex+Serif|Pangolin|Shrikhand|Source+Sans+Pro|Unica+One');
* {
	box-sizing: border-box;

}

body {
	background-color: #bc9876;
	height: 100%;
	width: 100%;
	margin-top: 10px;
	margin-left: 30px;
}

.namecard {
	margin-left: 55%
}

.column {
	float: left;
	width: 23%;
	padding: 10px;
	height: 100%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

#name_here {
	font-size: 30px;
}

#address_here {
	font-size: ;
}

#number_here {

}

#website_here {

}

form {
	padding-bottom: 5px;
	display: inline;
}

h1 {
	color: white;
	font-family: 'Signika', sans-serif;
	margin-bottom: 10px;
	font-size: 30px;
}


h2 {
	color: white;
	font-family: 'Catamaran', sans-serif;
	display: inline;
	font-size: 13px;

}

h3 {
	color: white;
	font-family: 'Signika', sans-serif;
	font-size: 12px;

}

p {
	color: white;
	font-family: 'Signika', sans-serif;
	display: inline;
}

button {
	background: #bc9876;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	text-shadow:none;
	display: inline;
}

button:hover {
	background: #fff;
	color: #bc9876;
	border: 1px solid #eee;
	border-radius: 20px;
	text-shadow:none;
}

input[type=text] {
    background-color: #bc9876;
    color: white;
    border: 0; padding: 4px 0; 
    border-bottom: 1px solid #ccc; 
    background-color: transparent;
}

select {
	background: #bc9876;
	color: #fff;
	border: 1px solid #eee;
}

input {
	color: #fff;
}

#save_button {
 /*center this and make it bigger */
}

#UnicaOne { font-family: 'Unica One', cursive; }
#Pangolin { font-family: 'Pangolin', cursive; }
#Abril { font-family: 'Abril Fatface', cursive;}
#Shrikhand { font-family: 'Shrikhand', cursive;}
#Forum {font-family: 'Forum', cursive;}
#Contrail {font-family: 'Contrail One', cursive; }
#cabin { font-family: 'Cabin Sketch', cursive; }
#Flamenco { font-family: 'Flamenco', cursive; }
#sourcesanspro { font-family: 'Source Sans Pro', sans-serif; }
#IBM { font-family: 'IBM Plex Serif', serif; }

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }
.transparent {
	background: transparent;
}

.navy{
	background-color: #283044;
}

.red{
	background-color: #8C1C13;
}

.orange{
	background-color: #D16014;
}

.yellow {
	background-color: #FFE787;
}

.green {
	background-color: #313715;
}

.pink {
	background-color: #FF9CB3;
}

.purple {
	background-color: #443850;
}

.gray {
	background-color: #828489;
}

.white {
	background-color: #FFFFFF;
}

.black {
	background-color: #000000;
}

.peach {
	background-color: #F1AB86;
}

.brown {
	background-color: #4F3130;
}



@media print {
	body{
		background-color: #ffffff;
	}

	body * {
		visibility: hidden;
	}
	#namecard * {
		visibility: visible !important;
	}
	#namecard {
		visibility: visible !important;
		position: absolute;
		left: 0;
		top: 0;
		
	}
	
}

.grabbing {cursor: -webkit-grabbing; cursor: grabbing;}


@media only screen and (max-width: 480px) {
	body {
	padding: 0;
	margin: 0;
	}

	h1 {
		font-size: 180%;
		padding: 0;
		text-align: center;
	}

	.namecard {
		width: 200px;
		height: 114px;
		margin-top: 600px !important; 
		clear:both;
		min-width: 220px;
		margin:auto;
		margin-bottom: 50px;
	}

	.column {
	display: block;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	}


	#name_here {
		padding: 20px;
	}

	#address_here {
		padding: 10px;
		text-align: center;
	}

	#number_here {

	}
}

